@font-face {font-family:Roboto-Regular; src: url('../fonts/Roboto-Regular.ttf');}
@font-face {font-family:Roboto-Bold; src: url('../fonts/Roboto-Bold.ttf');}

:root {
  --grey-0: #494949;
  --grey-1: #707070;
  --grey-2: #969696;
  --grey-3: #dcdcdc;
}


html {
  overflow-y: scroll;
}

h1, h2, h3, h4 {
  font-family: 'Roboto-Bold', arial, sans-serif;
}
a {
  color:#65b2ff;
  text-decoration: none;
}
a:hover {
  color:#ffc965;
}

h1{
  font-size:35px;
  margin:0px 0 20px 5px;
}
h2{
  font-size:32px;
}

h3{
  font-size:23px;
}


td{
  vertical-align: top;
}

/* Paper */
.paper-image{
  width:154px;
  padding: 8px;
  border: 1px solid var(--grey-3);
  border-radius: 6px;
}
.paper-video{
  width:170px;
  border: 1px solid var(--grey-3);
  border-radius: 6px;
}
.paper-title{
  font-size: 15.2px;
  font-weight: 600;
  padding-bottom: 4px;
}
.paper-author{
  color:var(--grey-2);
  padding-bottom: 0px;
}
.paper-conference{
  color:var(--grey-2);
  padding-bottom: 0px;
}
.myname{
  font-weight: bold;
  color:var(--grey-1);
}
/* Library */
.library-image{
  width:170px;
  border: 1px solid var(--grey-3);
  border-radius: 6px;
}
.library-title{
  font-size: 15.2px;
  font-weight: 600;
  padding-bottom: 4px;
}
.library-content{
  color:var(--grey-1);
  padding-bottom: 0px;
}
.library-item{
  color:var(--grey-2);
  padding-bottom: 0px;
}
/* Project */
.project-image{
  width:170px;
  border: 1px solid var(--grey-3);
  border-radius: 6px;
}
.project-title{
  font-size: 15.2px;
  font-weight: 600;
  padding-bottom: 4px;
}
.project-info{
  color:var(--grey-2);
  padding-bottom: 0px;
}
.project-content{
  font-size: 14px;
  color:var(--grey-1);
  padding-bottom: 0px;
}

/* School */
.school-image{
  width:80px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}
.school-name{
  font-size: 15.2px;
  font-weight: 600;
  padding-bottom: 4px;
}
.school-period{
  color:var(--grey-2);
  padding-bottom: 0px;
}
.school-degree{
  color:var(--grey-2);
  padding-bottom: 0px;
}

/* Job */
.job-image{
  width:125px;
}
.job-name{
  font-size: 15.2px;
  font-weight: 600;
  padding-bottom: 4px;
}
.job-period{
  color:var(--grey-2);
  padding-bottom: 0px;
}
.job-position{
  color:var(--grey-2);
  padding-bottom: 0px;
}


.A{
  color:var(--grey-3);
  padding-bottom: 0px;
}

button {
  font-weight: bold;
  font-size:26px;
  border: 0px;
  padding: 0px;
  margin: 0 15px 0px 0px;
  color:var(--grey-3);
  background-color: #ffffff;
}
button:hover{
  color:#000000;
  cursor:pointer;
}
.button-group{

  padding-top:15px;
  padding-bottom: 15px;
}

body {
  margin:0;
  font-family: 'Roboto-Regular';
  line-height: 140%;
}

section {
  margin: auto;
  padding: 0 25px 20px 25px;
  width: 800px;
  background-color: #ffffff;
  font-size: 14px;
  border-bottom: 1px solid var(--grey-3);
}
#profile {
  padding-top: 5em;
}

article {
  padding-bottom: 15px;
}
p {
  margin: 0;
  padding: 0 0 10px 25px;
}
footer {
  font-size: 15px;
  margin:20px 0 35px 0;
  text-align: center;
}

@media(max-width:850px) {
  section {
    margin: auto;
    position: relative;
    width: 89%;
    padding: 0 5.5% 20px 5.5%;
  }

}
@media(max-width:500px) {
  html{
    overflow-x: clip;
  }
  section {
    width: 455px;
    padding: 0 27.5px 20px 27.5px;
  }
}
