@font-face {font-family:Roboto-Regular; src: url('../fonts/Roboto-Regular.ttf');}
@font-face {font-family:Roboto-Bold; src: url('../fonts/Roboto-Bold.ttf');}


html {
  overflow-y: scroll;
}

h1, h2, h3, h4 {
  font-family: 'Roboto-Bold', arial, sans-serif;
}
a {
  color:#99ccff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1{
  font-size:30px;
  margin:0px 0 20px 20px;
}
h2{
  font-size:25px;
}
h3{
  font-size:20px;
}


td{
  vertical-align: top;
}

/* Paper */
.paper-image{
  width:150px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}
.paper-title{
  font-weight: 600;
  padding-bottom: 0px;
}
.paper-author{
  color:#a6a6a6;
  padding-bottom: 0px;
}
.paper-conference{
  font-style: italic;
  color:#a6a6a6;
  padding-bottom: 0px;
}

/* Project */
.project-image{
  width:150px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}
.project-title{
  font-weight: 600;
  padding-bottom: 0px;
}
.project-info{
  color:#a6a6a6;
  padding-bottom: 0px;
}
.project-content{
  font-size: 13.9px;
  padding : 3px 0px 0px 25px;
}

/* School */
.school-image{
  width:80px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}
.school-name{
  font-weight: 600;
  padding-bottom: 0px;
}
.school-period{
  color:#a6a6a6;
  padding-bottom: 0px;
}
.school-degree{
  font-style: italic;
  color:#a6a6a6;
  padding-bottom: 0px;
}

/* Job */
.job-image{
  width:125px;
}
.job-name{
  font-weight: 600;
  padding-bottom: 0px;
}
.job-period{
  color:#a6a6a6;
  padding-bottom: 0px;
}
.job-position{
  font-style: italic;
  color:#a6a6a6;
  padding-bottom: 0px;
}


.A{
  color:#dcdcdc;
  padding-bottom: 0px;
}
.myname{
  font-weight: bold;
}
button {
  font-weight: bold;
  font-size:23px;
  border: 0px;
  color:#dcdcdc;
  background-color: #ffffff;
}
button:hover{
  color:#000000;
  cursor:pointer;
}
.button-group{
  padding-top:15px;
  padding-bottom: 15px;
}

body {
  margin:0;
  font-family: 'Roboto-Regular';
  line-height: 140%;
}

section {
  margin: auto;
  padding: 0 25px 20px 25px;
  width: 800px;
  background-color: #ffffff;
  font-size: 14px;
  border-bottom: 1px solid #dcdcdc;
}
#profile {
  padding-top: 5em;
}

article {
  padding-bottom: 15px;
}
p {
  margin: 0;
  padding: 0 0 10px 25px;
}
footer {
  font-size: 15px;
  margin:20px 0 35px 0;
  text-align: center;
}

@media(max-width:850px) {
  section {
    margin: auto;
    position: relative;
    width: 89%;
    padding: 0 5.5% 20px 5.5%;
  }

}
