@font-face {font-family:Roboto-Regular; src: url('../fonts/Roboto-Regular.ttf');}
@font-face {font-family:Roboto-Bold; src: url('../fonts/Roboto-Bold.ttf');}


html {
  overflow-y: scroll;
}

h1, h2, h3 {
  font-family: 'Roboto-Bold', arial, sans-serif;
}
body {
  margin:0;
  background-color: #f2f2f2;
  font-family: 'Roboto-Regular';
  line-height: 140%;
}

header{
  background-color: #00274C;
  display: grid ;
  grid-template-columns: 1fr 250px;
}
header div{
  display: inline;
  padding: 20px;

}
header h1{
  display: inline;
}
header a {
  color:#ffffff;
  text-decoration: none;
  display: inline;

}
h1 a {
  font-size:25px;
  height: 40px;
}
h1 a:hover{
  border-bottom: 2px solid white;
}
#headline{
  padding: 15px 0 15px 40px;
}
nav {
  font-size:18px;
  font-weight:bold;
  font-family: 'Roboto-Bold', arial, sans-serif;
  padding: 15px;
  vertical-align: bottom;
}
nav ul{
  margin:0;
  padding: 3px 0 0 0;
  border-top-width: 2px;
}
nav li{
  display:inline;
}

nav a:hover{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
#here {
  color:#FFCB05;
}
#here:hover {
  border-top: 2px solid #FFCB05;
  border-bottom: 2px solid #FFCB05;

}
.white {
  color:#ffffff;
}
section {
  margin: auto;
  padding: 0 25px 20px 25px;
  width: 800px;
  background-color: #ffffff;
  border-radius: 0 0 7px 7px;
  font-size: 16px;
}
article {
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdcdc;
}
h2 {
  margin:0;
  padding: 20px 0 20px 0;
}
h3 {
  padding-left: 8px;
}
p {
  margin: 0;
  padding: 0 0 10px 25px;
  color: #828282;
}
footer {
  font-size: 15px;
  margin:20px 0 35px 0;
  text-align: center;
}


article a{
  font-weight: bold;
  font-family: 'Roboto-Bold', arial, sans-serif;
  color: #828282;
}
article a:hover{
  color: #000000;
}


.italic{
  font-style: italic;
}
.bold{
  font-weight: bold;
  font-family: 'Roboto-Bold', arial, sans-serif;
}


@media(max-width:850px) {
  section {
    margin: auto;
    position: relative;
    width: 95%;
    padding: 0 2.5% 20px 2.5%;
  }
  header{
    background-color: #00274C;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 48px 45px;
  }
  #headline {
    padding: 15px 0 5px 25px;
  }
  nav {
    font-size:18px;
    padding: 0 15px 15px 50px;
    border-top-width: 2px;
  }
}
@media(max-width:500px) {
  html{
    overflow-x: auto;
  }
  header{
    width:500px;
  }
  section {
    width: 475px;
    padding: 0 12.5px 20px 12.5px;
  }
}
